.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #2C3E50;
}

.text-field, .text-area {
    -fx-border-color: #2980B9;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 5;
    -fx-font-size: 14px;
    -fx-background-color: #FFFFFF;
}

.text-field:focused, .text-area:focused {
    -fx-border-color: #3498DB;
    -fx-background-color: #ECF0F1;
 }

.button {
    -fx-background-color: #3498DB;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8 20;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #2980B9;
}

.title-text {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-fill: #2C3E50;
}

.sub-text {
    -fx-font-size: 16px;
    -fx-fill: #34495E;
}

.grid-pane {
    -fx-background-color: #FDFEFE;
    -fx-padding: 20;
    -fx-border-color: #BDC3C7;
    -fx-border-width: 1;
    -fx-border-radius: 10;
}

.root {
    -fx-background-color: #F2F3F4;
}

.cv-section {
    -fx-border-color: #BDC3C7;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 10;
    -fx-background-color: #FFFFFF;
    -fx-spacing: 5;
}

.cv-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2C3E50;
    -fx-underline: true;
}

.cv-text {
    -fx-font-size: 14px;
    -fx-text-fill: #34495E;
}
