.title-text {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-fill: #2C3E50;
}

.sub-text {
     -fx-font-size: 16px;
    -fx-fill: #34495E;
}

.button {
    -fx-background-color: #3498DB;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8 16 8 16;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #2980B9;
}
